* {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: auto;
}

#postLabel {
  font-size: 20px;
  font-weight: bold;
}

#newPostDiv {
  border: gainsboro 1px solid;
  padding: 20px;
  margin-bottom: 20px;
}

.poster {
  cursor: pointer;
}

.profileDiv {
  padding: 20px;
  background-color: gainsboro;
}

#follow_button {
  width: 100%;
}

.userDiv {
  display: flex;
  justify-content: space-between;
}

.postDiv {
  border: gainsboro 1px solid;
  padding: 20px;
}

.userDateDiv {
  display: flex;
  justify-content: space-between;
}

.likeButton {
  margin-right: 5px;
}

.likeEditDiv {
  margin-top: 5px;
}

.pagination {
  margin-top: 15px;
}

.page-number {
  cursor: pointer;
}
